@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    background-color: rgb(43, 46, 56);
    list-style: none;
}  

.nav__links {
    text-decoration: none;
    color: white;
    transition: 0.5s ease;
}

.nav__links li {
    display: inline-block;  
    padding: 0px 15px;
    font-weight: lighter;
    transition: 0.5s ease;
}

.homeclass {
    color: rgb(255, 255, 255);
    font-size: 2em;
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}

.homeclass a, b {
    font-family: 'opensans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: rgb(255, 255, 255);
    transition: 0.5s ease;
}

.main {
    font-family: 'opensans', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: rgb(255, 255, 255);
    transition: 0.5s ease;
}


.bottom_thing {
    background-color: rgb(29, 29, 29);
    color: rgb(156, 156, 156);
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    z-index: 500;
    transition: 0.5s ease;
}

.sus {
    font-family: 'opensans', sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.5s ease;
}