@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
} 

html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: rgb(73, 73, 73);
}

.header-content {
    font-weight: 300;
    color : white;
    text-align: center;  
}


.header-content h1 {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 10px;

}


.header-content h2 {
    font-size: 20px;
    text-align: center;
    margin-left: 12px;  

}

.data-content {
    font-weight: 800;
    color : white;

    text-align: center;
}