@font-face {
    font-family: derk;
    src: url(derk.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
} 

html {
    font-family: mono;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-family: monospace;
}

.text-content {
    background: rgba(0, 0, 0, 0);
    display: grid;
    place-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 8px rgb(255, 255, 255));
}

.text-content h1 {
    font-size: 3rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
}

.text-content h2 {
    font-size: 1rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
}

.text-content a {
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 31px;
    padding-left: 10px;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    display: flex;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(17, 17, 17);
}

.back {
    width: 100%;
}

#overlay-toggle {
    position: absolute;
    display: none;
}

.overlay {
    z-index: 1;
    background-color: black;
}

.overlay label {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vw;
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 8px rgb(255, 255, 255));
    font-size: 1.5rem;
}

.no-hover {
    display: block;
}

.hover {
    display: none;
}

.fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100vh;
    min-width: 100vw;
}

#by {
    font-size: 13px;
    margin-top: 900px;
    margin-bottom: 10px;
}

.text-content {
    background: rgba(0, 0, 0, 0);
    display: grid;
    place-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
}

.text-content h1 {
    font-size: 4rem;
    font-weight: 800;
}

.bg-video {
    z-index: -1;
}

body {
    font-family: monospace !important;
    background-color: #000 !important;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

a:hover {
    transition: .4s;
    color: rgb(93, 112, 196);
}

span::before {
    content: '\A';
    white-space: pre
}

#center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    font-size: 5rem;

    color: rgb(255, 255, 255);
}

.ul {
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
}

.nav-links li {
    margin: 0 10px;
    z-index: 200;
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
}

#overlay-toggle:checked~.overlay {
    animation-fill-mode: forwards;
    animation-name: fade, hide;
    animation-delay: 0s, 600ms;
    animation-duration: 600ms, 1ms;
}

#overlay-toggle:checked~.overlay label {
    animation-fill-mode: forwards;
    animation-name: fade;
    animation-delay: 0s;
    animation-duration: 500ms;
}

@media(hover: hover) {
    .hover {
        display: block;
    }
    .no-hover {
        display: none;
    }
}

@keyframes fade {
    to {
        opacity: 0;
    }
}

@keyframes hide {
    to {
        visibility: hidden;
    }
}

